body {
    margin: 20px;
    background: rgba(6, 8, 32, 0.908);
    color: rgb(3, 3, 51);
}

h1 {
    margin-left: 5px;
    font-family:'Josefin Sans', sans-serif;
}

h2 {
    margin: 29px 5px;
    font-family:'Josefin Sans', sans-serif;
}

p {
    font-style: italic;
    font-size: 18px;
    margin: 10px 5px;
    padding: 5px;
    border-radius: 10px;
    background: #fcfcff;
}

.card {
    padding: 5px;
    border-radius: 20px;
    background: #aedbf0;
}

.higher {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.buttons {
    margin: 20px 3px;
    display: flex;
    justify-content: space-between;
}

.btn_prev, .btn_next {
    border-radius: 10px;
    border: none;
    padding: 5px;
    width: 60px;
    font-size: 28px;
    background: #aedbf0;
    cursor: pointer;
}

.btn_prev:hover, .btn_next:hover {
    box-shadow: 0px 0px 15px 10px rgba(245, 245, 245, 0.462);
}



