p {
    cursor: pointer;
}

.TodoItem {
    text-decoration: line-through;
    font-size: large;
    font-weight: bold;
}

.statusDone {
    color: white;
    text-decoration: none;
    font-size: large;
    font-weight: bold;
}