body {
    margin: 5px;
    background: black;
    color: rgb(187, 186, 186);
    position: relative;
}
 
@media (min-width: 800px) {
    .centerSection {
        display: flex;
        justify-content: space-between;
    }
  }