.Counter {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: x-large;
    
    button {
        background: black;
        color: white;
        padding: 10px;
        width: 50px;
        height: 50px;
        border-radius: 7px;
        border: none;
        font-size: x-large;
        cursor: pointer;
    }

    button:hover {
        background: rgb(92, 51, 92);
    }

    button:active {
        transform: scale(0.8);
    }
}