body {
  margin: 0;
  text-align: center;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.btn {
  border-radius: 100%;
  border: none;
  background: red;
  width: 150px;
  height: 150px;
  margin: 50px;
  cursor: pointer;
}

.btn:hover {
  transform: scale(1.2);
  transition: 0.5s;
  background: rgb(193, 11, 11);
}

