.CommandBar {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 93vw;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background: rgb(53, 63, 66);
    border-radius: 15px;
    padding: 15px;
}

.CommandBar button {
    width: 50px;
    height: 50px;
    border-radius: 100%;
    border: none;
    background-color: rgb(41, 49, 51);
    font-size: larger;
    color: rgb(187, 186, 186);
    cursor: pointer;
}

.addBtn {
    font-size: xx-large;
    font-weight: bold;
    background-color: rgb(174, 255, 0);
}

.btnLogo {
    background-image: url("../../../public/personalLogo.png");
    background-size: cover;
}


@media (min-width: 800px) {
    .CommandBar {
        width: 97vw;
    }
  }