.NewPost {
    position: fixed;
    top: 50px;
    left: 60px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    background: rgb(41, 49, 51);
    padding: 20px;
    border-radius: 20px;
}

.personalLogo {
    width: 80px;
    height: 80px;
}

.headerNewPost {
    display: flex;
    align-items: center;
    gap: 40px;
}

.titleNewPost {
    background: rgb(41, 49, 51);
    border-radius: 20px;
    padding: 20px;
    display: flex;
    gap: 20px;
}

.titleNewPost {
    background: transparent;
    border: none;
    font-size: larger;
    font-weight: bold;
    color: rgb(187, 186, 186);
    outline: none;
    width: 90%;
}

.messageNewPost {
    height: 30vh;
    background: transparent;
    border: none;
    outline: none;
    color: rgb(187, 186, 186);
    width: 90%;
    padding: 20px;
    text-align: start;
}

.textSection {
    background: rgb(53, 63, 66);
    border-radius: 20px;
}

.btnSection {
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    border-radius: 15px;
}

.btnSection input {
    cursor: pointer;
    border-radius: 5px;
    border: none;
}